
:root {
  --gr-square: 0.61803398875;
  --gr-min: 0.38196601125;
  --gr-rectangle: calc(1 - var(--gr-square));
  --row-1-margin: calc(1vh - var(--gr-min));

  --main-width: 61.803398875vw;
  --gr-height: calc(var(--gr-square) * var(--main-width));
  --bw: 1px;
  --bc: rgba(128, 65, 65, 0);

  --bsh: 16px; 
  --bsv: 16px;
  --bsb: 23px;
  --bsc: rgba(0, 0, 0, 0.376);
  --grc: rgba(31, 118, 200, 0.246);

  --bdr: solid;

  --content-height: 3000px;
}

/* 8, 8, 12 */
/* 16, 16, 32 */
/* 32, 32, 12: COOL */

body {
  background-color: rgba(54, 54, 54, 0.856);
  /* background-color: white; */
}

.main {
  /* border: solid rgba(251, 255, 33, 0.5) 3px; */
  margin-top: 1.618vh;
  margin-bottom: 1.618vh;
  margin-left: auto;
  margin-right: auto;
  width: var(--main-width);
}

.gr {
  /* background-color: gold; */
  

  height: var(--gr-height);
  border: var(--bdr) var(--bc) var(--bw);

  /* flex */
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;

  background-color: var(--grc);


  
  /* overflow: hidden; */
}

.bg-con {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}

.h-flex {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  background-color: var(--grc);
  z-index: 2;
}

.hfi-1 {
  /* border: solid rgb(255, 79, 246) 1px; */
  flex-grow: var(--gr-square);
  z-index: 3;
}

.hfi-2 {
  /* border: solid rgb(0, 180, 60) 1px; */
  flex-grow: var(--gr-rectangle);
  z-index: 3;
}

.v-flex {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: var(--grc);
}

.vfi-1 {
  /* border: solid rgb(187, 0, 0) 1px; */
  flex-grow: var(--gr-square);

  /* position: relative;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center; */
}

.vfi-2 {
  /* border: solid rgb(156, 65, 209) 1px; */
  flex-grow: var(--gr-rectangle);
}

.gr.h-flex{
  border-top-left-radius: 100%;
}

h100 {
  height: 50px;
}

w100 {
  width: 100%;
}

.b50 {
  border-radius: 50%;
}

/* This is for flat borders */
.bl {
  border-left: var(--bdr) var(--bc) calc(var(--bw) / 2);
}

.bt {
  border-top: var(--bdr) var(--bc) calc(var(--bw) / 2);
}

.bb {
  border-bottom: var(--bdr) var(--bc) calc(var(--bw) / 2);
}

.br {
  border-right: var(--bdr) var(--bc) calc(var(--bw) / 2);
}

.bsr {
  box-shadow: var(--bsh) 0 var(--bsb) var(--bsc);
}

.bsl {
  box-shadow: calc(var(--bsh) * -1) 0 var(--bsb) var(--bsc);
}

.bsb {
  box-shadow: 0 var(--bsv) var(--bsb) var(--bsc);
}

.bst {
  box-shadow: 0 calc(var(--bsv) * -1) var(--bsb) var(--bsc);
}

.bslst {
  box-shadow: 3px 0 2px rgba(0, 0, 0, 0.472)
}

.brtl {
  border-top-left-radius: 100px;
}

.p-parent {
  /* border: solid blue 3px; */
  /* padding: 10px; */
  font-family: monospace;
  color: #424242;

/*   Fixed Height??? */
  overflow: hidden;
  height: 3000px;
  
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.p-background {
  /* border: solid red 10px; */

/*   This could be an image */
  /* background: repeating-linear-gradient(0deg, #3f87a6, #ebf8e1 2%, #f69d3c 2%); */
  opacity: 0.10;
  background-repeat: repeat-y;
  background-size: contain;
  background-position: top;
  background-image: url('images/blue-gr-math.png');

  height: 5000px; /* This should be Fixed */
  width: 100%;
  position: relative;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  text-align: center;
  z-index: 1;
}

.p-content {
  /* border: solid yellow 1px; */
  color: rgb(29, 29, 29);
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  /* background-color: rgb(124, 124, 124); */
  z-index: 2;
  /* margin: 25%; */
}

.img-cntr {
  position: relative;
}

.img-main {
  /* border: solid salmon 1px; */
  width: 100%;
  height: auto;
  z-index: 1;
  border-radius: 8px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.397);
  /* background-repeat: no-repeat;
  position: relative; */
}

.img-inset {
  /* border: solid black 1px; */
  width: 25%;
  top: 8px;
  right: 23px;;
  height: auto;
  position: absolute;
  z-index: 2;
}

.about {
  margin-top: 23%;
}

.mark-d {
  font-size: 4em;
  /* transform: rotate(-90deg); */
  font-family: 'Concert One';
  color: rgba(255, 255, 255, 0.692);
  z-index: 1;
}

.tag {
  padding: 15px;
  border-radius: 15px;
  /* background-color: rgba(44, 44, 44, 0.082); */
  /* box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.404); */
  font-size: 2em;
  /* transform: rotate(-90deg); */
  font-family: monospace;
  color: rgb(86, 160, 189);
  z-index: 2;
}

.links {
  padding: 15px;
  border-radius: 15px;
  /* background-color: rgba(44, 44, 44, 0.082); */
  /* box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.404); */
  font-size: 2.5em;
  /* transform: rotate(-90deg); */
  font-family: 'Concert One';
  color: rgb(86, 160, 189);
  z-index: 2;
}

.round {
  color: rgb(56, 56, 56);
  background-color: rgba(54, 54, 54, 0.383);
  margin: 5px;
  border-radius: 10px;
  border: solid slategray 1px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.548);
}